# "데이터 분석 Python 기초 문법 노트북"
> "2021년 여름방학 데이터분석을 위한 Python 기초 문법"

- toc:true
- branch: master
- badges: true
- comments: true
- author: KimJinGyo
- categories: [python, 데이터분석]

In [ ]:
x = 3
y = 7
x + y

10

# 마크다운
## 마크다운
### 마크다운  


* helllo world
* helllo world
* helllo world


1. helllo world
1. helllo world
1. helllo world

## 변수

* 대문자와 소문자는 다릅니다!
* 변수명에 띄어쓰기를 쓰지 않습니다.
* 맨 앞에 숫자를 사용하지 않습니다. 
* 카멜 표기법이나 스네이크 표기법 중 일반 변수는 스네이크 표기법을 사용합니다.
* for, if, print, sum 등 이미 예약되어 있는 것은 사용하지 않습니다.

In [ ]:
x = 3
y = 7
x + y
x - y
x * y
x // y

0

In [ ]:
x = 3 
y = 7 
print(x + y)
print(x - y)
print(x * y)
print(x // y)

10
-4
21
0

In [ ]:
a =10 
b = '10'
print(a + a)
print(b + b)

20
1010

In [ ]:
a = 10 # int :정수
b = '10' # str :문자
c = 'lee'
d = 'hojun'
e = True # bool : 불리언
f= 10.1 # float : 실수
print(type(a))

<class 'int'>

In [ ]:
3>10

False

In [ ]:
a+b

TypeError: ignored

In [ ]:
a = [ 10, 20, 30, 10.1, 20.1, 30.1, 'hojun'] # list
b = ( 10, 20, 30,) #tuple
c = { 10, 20, 30, 30, 30} #set
d = {'one':1, 'two':2} #dict
print(type(b))

<class 'tuple'>

In [ ]:
a.pop()
sum(a)

IndexError: ignored

## 형변환

In [ ]:
a = 10
b = '10'
print(str(a)+b)
print(a+int(b))

1010
20

In [ ]:
a = 10
b = '10a'
print(str(a)+b)
print(a+int(b))

## 산술연산

In [ ]:
a = 7 
b = 3
print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a // b)
print(a ** b)
print(a % b)

10
4
21
2.3333333333333335
2
343
1

## 비교연산

In [ ]:
a = 3
b = 5
print(a > b)
print(a >= b)
print(a < b)
print(a <= b)
print(a == b)
print(a != b)

False
False
True
True
False
True

## 논리연산

In [ ]:
# 주석입니다. 주석은 실행하지 않습니다.
a = 10
b = 20
a+b

30

In [ ]:
a = True #1
b = False #0

print(a and b)
print(a or b)
print(not a)

False
True
False

In [ ]:
result = 0
for i in range(1001): 
    if i % 3 ==0 or i % 5 ==0:
        result = result + i

print(result)

234168

## 문자열

In [ ]:
s = 'paullab CEO leehojun'

In [ ]:
s.count('l')

3

In [ ]:
s.count(' ')

2

In [ ]:
s.upper()

'PAULLAB CEO LEEHOJUN'

In [ ]:
s.lower()

'paullab ceo leehojun'

In [ ]:
s.split(' ')

['paullab', 'CEO', 'leehojun']

In [ ]:
'-'.join(['a','b','c'])

'a-b-c'

In [ ]:
d = s.split(' ')
'-'.join(d)

'paullab-CEO-leehojun'

In [ ]:
dir(s)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [ ]:
s ='        hello world'
print(s)
print(s.strip())
print(s.replace(' ',''))

        hello world
hello world
helloworld

## 리스트

* 순서가 있고, 수정이 가능합니다.

In [ ]:
a = [10, 20, 30, 40, 50, 60, 70, 15]
a
a[0] # 0은 인덱스이고, a[0] 호출하는 것을 indexing이라고 합니다. 
a[0], a[1], a[2], a[3], a[4]
a[0:5] # 슬라이싱 - : 자료형[start:stop:step]
a[::2] # 슬라이싱 - : 자료형[start:stop:step], 안씀
a[::-1] # 슬라이싱 - : 자료형[start:stop:step] -> 자주 씀 거꾸로 출력
a[0] = 1000
a

[1000, 20, 30, 40, 50, 60, 70, 15]

In [ ]:
dir(a)

a.append(10) # 값을 맨 뒤에 추가. 잘씀
a.clear() # a에 모든 값을 비움. 안씀
a.copy() # a에 모든 값을 복사.
a.count() # a에서 특정한 값의 개수를 찾습니다. 잘씀
a.extend([10, 20, 30]) # a에서 맨 뒤에 여러개의 값을 추가합니다. 
a.index() # a에서 특정한 값의 인덱스를 찾습니다. 
a.insert(2, 10000) # a에 중간에 값을 삽입합니다. 
a.pop() # a에 맨 뒤에 값을 빼냅니다. 빼낸 값은 삭제됩니다. 잘씀
a.remove(10000) # a에 특정한 값을 삭제합니다. 
a.reverse() # a에 값을 뒤집습니다. 잘씀
a.sort() # a의 값을 정렬합니다. 잘씀

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
a.append(100)
a.append(100)
a

[1000, 20, 30, 40, 50, 60, 70, 15, 100, 100, 100, 100, 100, 100]

In [ ]:
a.count(100)

6

In [ ]:
a.sort()
a

[15, 20, 30, 40, 50, 60, 70, 100, 100, 100, 100, 100, 100, 1000]

In [ ]:
a.reverse()
a

[1000, 100, 100, 100, 100, 100, 100, 70, 60, 50, 40, 30, 20, 15]

## 튜플, 딕셔너리, 셋

In [ ]:
# 튜플은 순서가 있고 값을 변경할 수 없습니다. 

t = (10, 20 ,30)
t

(10, 20, 30)

In [ ]:
dir(t)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [ ]:
# 딕셔너리 (key : value) 형태로 매칭

영한번역 = {'one' : '하나', 'two' : '둘'}
영한번역['one']

'하나'

In [ ]:
# 셋 (집합, 합집합, 차집합, 교집합)

s={10,20,30,30, 30}
s

{10, 20, 30}

In [ ]:
s={10,20,30,30,30}
ss={10,40,50}
s | ss 
s & ss
s - ss

{20, 30}

## f-sting

In [ ]:
age = 10 
name = 'leehojun'
print('제 이름은 leehojun 입니다. 제 나이는 10살입니다.')
print('제 이름은',name, '입니다. 제 나이는', age, '살입니다.')
print('제 이름은 {0} 입니다. 제 나이는 {1}살입니다.' .format(name,age))
print(f'제 이름은 {name} 입니다. 제 나이는 {age+age}살입니다.') # 이것만 씁시다. 위에는 다 옛날 문법

제 이름은 leehojun 입니다. 제 나이는 10살입니다.
제 이름은 leehojun 입니다. 제 나이는 10 살입니다.
제 이름은 leehojun 입니다. 제 나이는 10살입니다.
제 이름은 leehojun 입니다. 제 나이는 20살입니다.

## built in function
* abs() : 절대값
* min() : 최솟값
* max() : 최댓값
* dir() : 매서드 확인
* id()  : 메모리 주소 확인
* sorted(): 정렬
* reversed(): 역순 (역정렬 아님)
* enumerate(): 순서를 매김 (for 하면서 설명)

* 형변환:
 * set() : 집합으로 형변환
 * dict() : 딕셔너리로 형변환
 * bool() : 불리언으로 형변환
 * int() :정수형으로 형변환 
 * str() : 문자열로 형변환 
 * float() : 실수형으로 형변환
 * tuple() : 튜플형으로 형변환
 * list() : 리스트로 형변환
* ord() : 문자를 숫자로 변환
* chr() : 숫자를 문자로 변환
* sum() : 전부 더함 (더할 수 없으면 에러)
* filter() : 필터링 (점수 90점 이상인 사람?)
* print() : 출력
* format() : 컴마 찍기
* len() : 길이 출력! 중요!!!!!
* type() : 타입 알아보기 중요!!
* range(): 연속된 값 생성 (0~99 -> range(100))
* zip('abc', 'def')
* map(lambda x:x**2, [1,2,3])
* round() : 소수점 자리 반올림

In [ ]:
list(zip('abc', 'def'))

[('a', 'd'), ('b', 'e'), ('c', 'f')]

In [ ]:
list(map(lambda x:x**2, [1,2,3]))

[1, 4, 9]

## 조건문

In [ ]:
if False:
    print('hello')
print('end')

end

In [ ]:
score = 89
money = 0
if score > 90:
   print('mom: i\'m so happy')
   money += 1000000 #money = money + 1000000, 할당연산이라 부름
elif score > 80:
   print('mom: i\'m  happy')
   money += 100000
elif score > 70:
   print('mom: happy?')
   money += 10000
else:
   print('mom: ...')

print(money)

mom: im  happy
100000

## 문제 풀이와 업다운 게임 제

In [ ]:
str(list(range(100)))
str(list(range(100))).count('8')
str(list(range(10001))).count('8')

4000

In [ ]:
리스트 = [1, 3, 4, 8, 13, 17, 20]
리스트둘 = 리스트[1:]

In [ ]:
list(zip(리스트, 리스트둘))

[(1, 3), (3, 4), (4, 8), (8, 13), (13, 17), (17, 20)]

In [ ]:
묶어준리스트 = list(zip(리스트, 리스트둘))
묶어준리스트.sort(key=lambda x:x[0]-x[1], reverse= True)
묶어준리스트
묶어준리스트[0]

(3, 4)

In [1]:
import random

정답 = random.randint(1, 100)

while True:
    user = int(input('숫자를 입력해주세요.'))
    if user < 정답 : 
      print('up')
    elif user > 정답 :
      print('down')
    else:
      print('정답')
      break

숫자를 입력해주세요.50
up
숫자를 입력해주세요.80
down
숫자를 입력해주세요.65
up
숫자를 입력해주세요.72
down
숫자를 입력해주세요.68
up
숫자를 입력해주세요.69
up
숫자를 입력해주세요.71
정답

## 반복문

In [ ]:
for i in range(10):
   print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
list(range(10)) #stop
list(range(0,10,2)) #start, stop, step
list(range(5,10)) #start, stop
list(range(10,5,-1)) #start, stop, step

[10, 9, 8, 7, 6]

In [ ]:
s = 0
for i in range(101):
   s = s + i # s+= 1

print(s)

5050

In [ ]:
s=0
for i in range(0,101,2):
    s= s+i

print(s)

2550

In [ ]:
sum(range(0, 101, 2))

2550

In [ ]:
s = 0
for i in range(101):
  if i %2==0:
      s = s + i # s+= 1

print(s)

2550

In [ ]:
for i in range(1,10):
    print(f'{2}X{i}={2*i}')
for i in range(1,10):
    print(f'{3}X{i}={3*i}')
for i in range(1,10):
    print(f'{4}X{i}={4*i}')
for i in range(1,10):
    print(f'{5}X{i}={5*i}')
for i in range(1,10):
    print(f'{6}X{i}={6*i}')
for i in range(1,10):
    print(f'{7}X{i}={7*i}')
for i in range(1,10):
    print(f'{8}X{i}={8*i}')
for i in range(1,10):
    print(f'{9}X{i}={9*i}')

2X1=2
2X2=4
2X3=6
2X4=8
2X5=10
2X6=12
2X7=14
2X8=16
2X9=18
3X1=3
3X2=6
3X3=9
3X4=12
3X5=15
3X6=18
3X7=21
3X8=24
3X9=27
4X1=4
4X2=8
4X3=12
4X4=16
4X5=20
4X6=24
4X7=28
4X8=32
4X9=36
5X1=5
5X2=10
5X3=15
5X4=20
5X5=25
5X6=30
5X7=35
5X8=40
5X9=45
6X1=6
6X2=12
6X3=18
6X4=24
6X5=30
6X6=36
6X7=42
6X8=48
6X9=54
7X1=7
7X2=14
7X3=21
7X4=28
7X5=35
7X6=42
7X7=49
7X8=56
7X9=63
8X1=8
8X2=16
8X3=24
8X4=32
8X5=40
8X6=48
8X7=56
8X8=64
8X9=72
9X1=9
9X2=18
9X3=27
9X4=36
9X5=45
9X6=54
9X7=63
9X8=72
9X9=81

In [ ]:
for 단 in range(2, 10):  
    for i in range(1,10):
      print(f'{단}X{i}={단*i}')

2X1=2
2X2=4
2X3=6
2X4=8
2X5=10
2X6=12
2X7=14
2X8=16
2X9=18
3X1=3
3X2=6
3X3=9
3X4=12
3X5=15
3X6=18
3X7=21
3X8=24
3X9=27
4X1=4
4X2=8
4X3=12
4X4=16
4X5=20
4X6=24
4X7=28
4X8=32
4X9=36
5X1=5
5X2=10
5X3=15
5X4=20
5X5=25
5X6=30
5X7=35
5X8=40
5X9=45
6X1=6
6X2=12
6X3=18
6X4=24
6X5=30
6X6=36
6X7=42
6X8=48
6X9=54
7X1=7
7X2=14
7X3=21
7X4=28
7X5=35
7X6=42
7X7=49
7X8=56
7X9=63
8X1=8
8X2=16
8X3=24
8X4=32
8X5=40
8X6=48
8X7=56
8X8=64
8X9=72
9X1=9
9X2=18
9X3=27
9X4=36
9X5=45
9X6=54
9X7=63
9X8=72
9X9=81

In [ ]:
x=0
while x < 10: 
   print(x)
   x+=1

0
1
2
3
4
5
6
7
8
9

In [ ]:
x=1
while x<10:
    print(f'{2}X{x}={2*i}')
    x+=1
print(x)

2X1=18
2X2=18
2X3=18
2X4=18
2X5=18
2X6=18
2X7=18
2X8=18
2X9=18
10

## 모듈

In [ ]:
#fliename = test.py
# name = 'leehojun'
# age = 10

In [ ]:
# import test
import test as t

print(t.name)
print(t.age)

leehojun
10

In [ ]:
from test import name, age

print(name)
print(age)

leehojun
10

## 함수
* 코드의 추상화
1. 재사용성을 높일 수 있다.
2. 코드의 구조를 파악하기 쉽다.
3. 유지 및 보수를 쉽게 할 수 있다.

In [12]:
def 더하기(x,y):
   return x+y

더하기(10,20)

30

In [13]:
def 원의넓이(r):
   return (r**2) * 3.14
   
print(원의넓이(10) + 100)
print(원의넓이(10) + 50)

414.0
364.0

In [16]:
점수 = [10,20,30,40]
def 평균(반점수):
   s=0
   for i in 반점수:
       s += i 
   return s / len(반점수)

print(평균(점수))
print(평균(점수)+5)

25.0
30.0

## 파일 입출력

In [ ]:
f= open("구구단.txt",'w') #r(읽음) , w(작성, 덮어씀), a(추가) 
data = ''
for 단 in range(2, 10):  
    for i in range(1,10):
        data += f'{단} X {i} = {단*i}\n'
f.write(data)
f.close()

## 클래스

* 현실세계의 개념을 Code로 옮겨놓은 것
* 첫 문자열은 대문자로 나타낸다.

In [4]:
class Car :
  # 클래스 변수(클래스에서 사용하는 변수) 또는 맴버 
  maxspeed = 300
  maxpeople = 5
  # 메서드 -> 함수
  def start(self):
    print('출발하였습니다.')

  def stop(self):
    print('멈췄습니다.')

In [10]:
audi = Car() # audi라는 인스턴스 생성
bmw = Car() # bmw라는 인스턴스 생성

audi.start()
print(audi.maxpeople)
print(Car.maxspeed) #Car라는 class는 직접 사용 X

출발하였습니다.
5
300

In [11]:
dir(audi)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'maxpeople',
 'maxspeed',
 'start',
 'stop']

In [18]:
class 전기차(Car):
    배터리 = 100
    배터리에_따라_갈_수_있는_거리 = 300
    
전기차audi = 전기차()
전기차audi.start()

출발하였습니다.